<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="IzCubes">
    <meta name="keywords" content="IzCubes, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IzCubes Kids</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <style>
        .header__nav__option .sign-in-link {
        font-size: 16px;
        color: #333;
        margin-right: 15px;
        text-decoration: none;
        font-weight: 600;
        }
        .header__nav__option .sign-in-link:hover {
        color: #ff7f50;
        }

        
        .header {
            position: relative;
            z-index: 500;
        }

                
        .nav-link i {
            color: #333;             
            transition: color .2s;
        }

        .nav-link:hover i {
            color: #667eea;          
        }

        .header__nav__option a.nav-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            white-space: nowrap;
        }


    </style>
</head>

<body>


<!-- Header Section Begin -->



<header class="sticky-top bg-white shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <a class="navbar-brand fw-bold" href="/"><img src="/img/logo_IzCubes.png" style="height: 23px;width: 196px;" alt=""></a>

    <!-- Hamburger -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
        <li class="nav-item"><a class="nav-link" href="/wishlist"><i class="fa-regular fa-heart"></i> Wishlist</a></li>
        <li class="nav-item"><a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>

        <% if (locals.user) { %>
          <!--  Logged‑in user dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center"
               href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-user"></i>
              <span><%= locals.user.name %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="/userProfile">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        <% } else { %>
          <!--  Not logged in -->
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="/login">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>


   
    <!-- Header Section End -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


 <script>
  document.addEventListener("DOMContentLoaded", function () {
    const currentPath = window.location.pathname.replace(/\/$/, "");
    const navLinks = document.querySelectorAll("nav li a");

    navLinks.forEach(link => {
      const linkPath = new URL(link.href).pathname.replace(/\/$/, "");
      if (linkPath === currentPath) {
        link.classList.add("active");
      }
    });
  });
</script>
   