<%- include("../../views/partials/user/header") %>
<section class="content-main mt-80 mb-80">
   <div class="card mx-auto card-login col-4">
       <div class="card-body">
           <h4 class="card-title mb-4">Enter Current Email</h4>
           <form method="post" action="/change-email" onsubmit="return validateLoginForm()">
               <div class="mb-3">
                   <input class="form-control" name="currentEmail" placeholder="Current Email" type="text" id="current-email">
                   <div class="error-message" id="current-email-error"></div>
                   <input class="form-control" name="newEmail" placeholder="New Email" type="text" id="new-email">
                   <div class="error-message" id="new-email-error"></div>
               </div>
               <div class="mb-4">
                   <button type="submit" class="btn btn-primary w-100">Verify</button>
               </div>
           </form>
         
         
       </div>
   </div>
</section>
<script>
   function validateLoginForm() {
       const emailInputCurr = document.getElementById('current-email');
       const emailErrorCurr = document.getElementById('current-email-error');
       const emailValueCurr = emailInput.value.trim();
       const emailInputNew = document.getElementById('current-email');
       const emailErrorNew = document.getElementById('current-email-error');
       const emailValueNew = emailInput.value.trim();
       const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;


       if (emailValueCurr === '') {
           emailErrorCurr.textContent = 'Please enter your email.';
           emailInputCurr.classList.add('is-invalid');
           return false;
       } else if (!emailValueCurr.match(emailPattern)) {
           emailErrorCurr.textContent = 'Please enter a valid email address';
           emailInputCurr.classList.add('is-invalid');
           return false;
       } else {
           emailErrorCurr.textContent = '';
           emailInputCurr.classList.remove('is-invalid');
           return true;
       }

       if (emailValueNew === '') {
           emailErrorNew.textContent = 'Please enter your email.';
           emailInputNew.classList.add('is-invalid');
           return false;
       } else if (!emailValueNew.match(emailPattern)) {
           emailErrorNew.textContent = 'Please enter a valid email address';
           emailInputNew.classList.add('is-invalid');
           return false;
       } else {
           emailErrorNew.textContent = '';
           emailInputNew.classList.remove('is-invalid');
           return true;
       }
   }
</script>
<%- include("../../views/partials/user/footer") %>



